@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$deep-blue: rgba(0, 44, 119, 1);
$light-blue: rgba(0,44,119,0.2);
$white: #fff;
$orange-am: #c06d1d;
$gray-jumbotron: #eee;
$gray: #808080;
$gray-price: #A4A4A4;
