@import "../view1/view1";
@import "variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

nav {
  background: $deep-blue;
  background: -webkit-linear-gradient($deep-blue, $light-blue);
  background: -o-linear-gradient($deep-blue, $light-blue);
  background: -moz-linear-gradient($deep-blue, $light-blue);
  background: linear-gradient($deep-blue, $light-blue);
}

.header-wrapper {
  .logo {
    background: $deep-blue url("https://images.almundo.com/205/image/upload/v1474984918/static/components/logo-almundo.svg") no-repeat;
    min-height: 45px;
  }
  background: $deep-blue;
  padding: 15px 10px;
}

nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around;
    list-style: none;
    max-width: 400px;
  }
  a {
    display: flex;
    align-items: flex-start;
    color: $white;
    font-weight: bold;
  }
  list-style: none;
  min-height: 100px;
  padding: 0 0 0.6em;
}
.star-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  img {
    width: 35px;
  }
}