<div ng-show="starsInfo == 5" class="star-container">
    <img src="../images/1486499736_Star_Gold.svg">
    <img src="../images/1486499736_Star_Gold.svg">
    <img src="../images/1486499736_Star_Gold.svg">
    <img src="../images/1486499736_Star_Gold.svg">
    <img src="../images/1486499736_Star_Gold.svg">
</div>
<div ng-show="starsInfo == 4" class="star-container">
    <img src="../images/1486499736_Star_Gold.svg">
    <img src="../images/1486499736_Star_Gold.svg">
    <img src="../images/1486499736_Star_Gold.svg">
    <img src="../images/1486499736_Star_Gold.svg">
</div>
<div ng-show="starsInfo == 3" class="star-container">
    <img src="../images/1486499736_Star_Gold.svg">
    <img src="../images/1486499736_Star_Gold.svg">
    <img src="../images/1486499736_Star_Gold.svg">
</div>
<div ng-show="starsInfo == 2" class="star-container">
    <img src="../images/1486499736_Star_Gold.svg">
    <img src="../images/1486499736_Star_Gold.svg">
</div>


