@import "../css/variables";

.hotels {
  h1 {
    color: $orange-am;
  }
  p {
    color: $gray-price;
    font-size: 2em;
    font-weight: bold;
    text-align: right;
  }
  &-section {
    background: url("https://images.almundo.com/205/image/upload/fl_progressive,q_auto:low/v1474485215/static/home/hotels.jpg");
    min-height: 600px;
    z-index: -1;
  }
  &-name {
    color: $gray;
    font-size: x-large;
  }
  &-list {
    display: flex;
    background-color: $gray-jumbotron;
    border-radius: 6px;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 20px;
    min-height: 250px;
    padding: 20px;
    width: 350px;
  }

  .hotel-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}



