.hotels h1 {
  color: #c06d1d; }

.hotels p {
  color: #A4A4A4;
  font-size: 2em;
  font-weight: bold;
  text-align: right; }

.hotels-section {
  background: url("https://images.almundo.com/205/image/upload/fl_progressive,q_auto:low/v1474485215/static/home/hotels.jpg");
  min-height: 600px;
  z-index: -1; }

.hotels-name {
  color: #808080;
  font-size: x-large; }

.hotels-list {
  display: flex;
  background-color: #eee;
  border-radius: 6px;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 20px;
  min-height: 250px;
  padding: 20px;
  width: 350px; }

.hotels .hotel-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row; }
