<section class="hotels">
    <div class="hotels-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{seccion}}</h1>
                </div>

            </div>
            <div class="hotel-wrapper">
                <div ng-repeat="hotel in hotels['hotels']" class="hotels-list">
                    <h2 class="hotels-name">{{ hotel.name }}</h2>
                    <!--<p>{{ hotel.stars }}</p>-->
                    <num-stars
                            stars-num="hotel.stars"
                    ></num-stars>
                    <p>{{ hotel.price | currency:undefined:0}}</p>
                </div>
            </div>
        </div>
    </div>

</section>

